# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Ambiente virtual
venv/
env/
ENV/
virtual/

# Arquivos de configuração sensíveis
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Vercel
.vercel
*.pyc
